<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteúdos</title>
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

</head>
<body>
    <header>
        <div class=links>
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="sobre.html">Sobre</a>
            <a href="conteudos.html">Conteúdos</a>

        </div>
    </header>

    <div class="wrapper">
        <p>Cursos Rocketseat</p>
    </div>

    <section class="cards">
        <div class="card" id="starter">
            <div class="card__image-container">
                <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/starter.svg" alt="starter">  
            </div>
            <div class="conteudo_card">
                <div class="card-content">
                    <p>Starter</p>
                </div>
                <div class="card-info">
                    <p>Módulos: 12</p>
                    <div class="card-price">
                        <p>FREE</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" id="lounchbase">
            <div class="card__image-container">
                <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/launchbase.svg" alt="lounchbase">  
            </div>
            <div class="conteudo_card">
                <div class="card-content">
                    <p>LounchBase</p>
                </div>
                <div class="card-info">
                    <p>Módulos: 12</p>
                    <div class="card-price">
                        <p>FREE</p>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="card" id="gostack">
            <div class="card__image-container">
                <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/gostack.svg" alt="gostack">  
            </div>
            <div class="conteudo_card">
                <div class="card-content">
                    <p>GoStack</p>
                </div>
                <div class="card-info">
                    <p>Módulos: 12</p>
                    <div class="card-price">
                        <p>FREE</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <div class="butt">
                <a class="max-modal">
                    <i class="material-icons">exposure</i>
                </a>
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="/public/script.js"></script>
</body>
</html>