<!DOCTYPE html>
<html>
<head>

    {% block head %}
        <title>Gustavo Borges</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header>
        <div class=links>
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/">Sobre</a>
            <a href="/conteudo">Conteúdos</a>

        </div>
    </header>

    {% block content %}{% endblock %}

    <div class="footer-empty"></div>
</body>
</html>