{% extends "layout.njk" %}

{% block head%}
    <title>Teachers</title>
{% endblock %}

{% block content %}

<div class="card table-container">

    <table>
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Themes</th>
                <th>Actions</th>
            </tr>
        </thead>
            {% for teacher in teachers %}
            <tr>
                <th>{{ teacher.name }}</th>
                <th>{{ teacher.themes }}</th>
                <th>-</th>
            </tr>
            {% endfor %}
        <tbody>

        </tbody>
    </table>

</div>

{% endblock %}