{% extends "layout.njk" %}

{% block head%}
    <title>Sobre - Gustavo Borges</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="https://yt3.ggpht.com/a/AATXAJwSX58F1bJzQBZYiioJa36NuvznvNpsEVDfmc7qfg=s900-c-k-c0xffffffff-no-rj-mo" alt="RocketSeat">
        <h1>RocketSeat</h1>
        <h2>Empresa de educação focada em desenvolimento full-stack com as melhores tecnologias</h2>
        <div class="techs">
        <h4>Techs:</h4>
            <ul>
                <li>Javascript</li>
                <li>Typescript</li>
                <li>Node Js</li>
                <li>React</li>
                <li>React Native</li>
            </ul>
        </div>
    </div>

    <div id="links-footer" class="links">
        <a href="https://www.github.com/gustavobborges" target="__blank">Github</a>
        <a href="https://www.linkedin.com/in/gustavo-de-borja-borges-962726145/" target="__blank" >Linkedin</a>
    </div>

{% endblock %}