{% extends "layout.njk" %}

{% block head%}
    <title>Conteúdo - Gustavo Borges</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="wrapper">
        <p>Curso {{ item.name }}</p>
    </div>

    <section class="course">
        <div class="card_course" id="{{ item.id }}">
            <div class="course__image-container">
                <img src="{{ item.url_img }}" alt="Imagem do {{ item.name }}">  
            </div>
            <div class="conteudo_course">
                <div class="card-content">
                    <p>{{ item.name }}</p>
                </div>
                <div class="course_info">
                    <p>Módulos: {{ item.modules }}</p>
                    <div class="card-price">
                        <p>{{ item.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <script src="/script.js"></script>

{% endblock %}
