{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock  %}

{% block content%}

    <div id="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/52687806?s=460&u=6caf52605d04364cd60e72fc6e85d9435f9de73e&v=4" alt="Gustavo Borges">
        <h1>Gustavo Borges</h1>
        <h2>Developer - iBridge Technology</h2>
        <p>Programador full-stack com foco em UI e UX. Colaborador da <a href="www.ibridge.com.br" target="_blank">iBridge</a> e apaixonado por tecnologia!</p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://www.github.com/gustavobborges" target="__blank">Github</a>
        <a href="https://www.linkedin.com/in/gustavo-de-borja-borges-962726145/" target="__blank" >Linkedin</a>
    </div>

{% endblock %}