<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>Gustavo Borges</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Portfólio</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>

