<div class="item">
    <div>Avatar URL</div>
    <div>
        <input
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{ student.avatar_url }}"
        >
    </div>
</div>

<div class="item">
    <div>Nome do Estudante</div>
    <div>
        <input
            type="text"
            name="name"
            value="{{ student.name }}"
        >
    </div>
</div>

<div class="item">
    <div>Aniversário</div>
    <div>
        <input
            type="date"
            name="birth"
            value="{{ student.birth }}"
        >
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input
            type="email"
            name="email"
            value="{{ student.email }}"
        >
    </div>
</div>

<div class="item">
    <div>Ano Escolar</div>
    <div>
        <select name="classY" selected="{{ student.class }}">
            <option value="5f">5º ano - Ensino Fundamental</option> 
            <option value="6f">6º ano - Ensino Fundamental</option> 
            <option value="7f">7º ano - Ensino Fundamental</option> 
            <option value="8f">8º ano - Ensino Fundamental</option>
            <option value="9f">9º ano - Ensino Fundamental</option> 
            <option value="1m">1º ano - Ensino Médio</option> 
            <option value="2m">2º ano - Ensino Médio</option> 
            <option value="3m">3º ano - Ensino Médiotorado</option> 
        </select>
    </div>
</div>

<div class="item">
    <div>Carga Horário Semanal</div>
    <div>
        <input
            type="number"
            name="hours"
            value="{{ student.hours }}">
    </div>
</div>

<button type="submit">Salvar</button>
